@{
    ViewBag.Title = "Artista";
    ViewData["Title"] = "Creación de Artista";
}

<div class="text-center">
    <h1 class="display-4">Gestión Artista</h1>
    <div style="float:right">
        <button class="btn btn-danger btn-sm" onclick="location.href = '../Artist/Index'"> X </button>
    </div>
    <br />
    <br />
    <div class="alert alert-@ViewBag.alerta"> -- <b>@ViewBag.res</b> --</div>
 </div>
<div class="text-center">    
    <form action="/Artist/Nuevo" method="post">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" style="width: 124px" id="">Nombre</span>
            </div>
            <input type="text" style="text-transform:uppercase" class="form-control" name="nombre" id="nombre" maxlength="150" required>
        </div>
        <br />
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" style="width: 124px" id="">Pais</span>
            </div>
            <input type="text" style="text-transform:uppercase" class="form-control" name="pais" id="pais" maxlength="150" required>
            <div class="input-group-prepend">
                <span class="input-group-text" id="">Casa Disquera</span>
            </div>
            <input type="text" style="text-transform:uppercase" class="form-control" name="casaDisquera" id="casaDisquera" maxlength="150" required>
        </div>
        <br />
        <div style="float:right">
            <button class="btn btn-success"> Guardar </button>
        </div>
    </form>
</div>